@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    font-family: "Josefin Sans", sans-serif;
}
.nav{
    z-index: 1000;
    font-family: "Josefin Sans", sans-serif;
=======
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Lato", sans-serif;
}
.nav{
    z-index: 1000;
>>>>>>> origin/main
}